.blog-detail-section{
   padding-top: 40px;
  .similiar-blogs{
    display: flex;
    flex-direction: column;
    padding-top: 98px;
    padding-bottom: 20px;
    width: 1200px;
    margin: 0 auto;
    user-select: none;
    .blogs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 20px;
      padding-bottom: 20px;
      padding-top: 40px;

      .blog {
        display: flex;
        flex-direction: column;
        width: 100%;

        .img-container {
          border-radius: 12px;
          overflow: hidden;
        }

        img {
          width: 100%;
          height: 328px;
          object-fit: cover;
        }

        .author {
          font-size: 16px;
          font-weight: bold;
          color: #1A1A1F;
          padding-top: 24px;
        }

        .date {
          font-size: 12px;
          font-weight: 400;
          color: #85858D;
          padding-top: 15px;
        }

        .title {
          color: #1A1A1F;
          font-size: 20px;
          font-weight: bold;
          padding-top: 16px;
        }

        .categories {
          display: flex;
          flex-wrap: wrap;
          column-gap: 16px;
          margin-top: 16px;
          row-gap: 10px;

          .category-button {
            padding: 8px 16px;
            border-radius: 30px;
            font-size: 12px;
            width: max-content;
            white-space: nowrap;
            font-weight: 500;
          }
        }

        .content {
          color: #404049;
          font-size: 16px;
          font-weight: 400;
          padding-top: 16px;
        }

        a {
          color: #5D37F3;
          font-size: 14px;
          font-weight: 500;
          display: flex;
          margin-top: 16px;
          cursor: pointer;
          img {
            width: 20px;
            height: 20px;
            margin-left: 5px;
          }
        }
      }
    }
    .title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3{
        color: #1A1A1F;
        font-weight: 700;
        font-size: 32px;
      }
      .arrows{
        display: flex;
        column-gap: 24px;
        .arrow{
          width: 44px;
          height: 44px;
          border-radius: 40px;
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          background-color: #5D37F3;
          user-select: none;
        }
        .disabled{
          background-color: #E4E3EB;
          cursor: default;
        }
      }
    }
  }
  .blog-detail-container{
    max-width: 720px;
    margin: 0 auto;
    .blog-detail-items{
      display: flex;
      flex-direction: column;
      .blog-img-container{
        border-radius: 12px;
        height: 320px;
        img{
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .title{
        font-size: 32px;
        color: #1A1A1F;
        padding-top: 24px;
        font-weight: 700;
      }
      .blog-categories{
        display: flex;
        column-gap: 16px;
        align-items: flex-start;
        padding-top: 24px;
        .category-button{
          padding: 6px 10px;
          border-radius: 30px;
        }
      }
      .description{
        color: #404049;
        font-size: 16px;
        font-weight: 400;
        padding-top: 40px;
        word-break: break-word;
      }
      .author-info{
        padding-top: 40px;
        h3{
          color: #1A1A1F;
          font-size: 16px;
          font-weight: 500;
        }
        h4{
          padding-top: 8px;
          color: #85858D;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
