<app-header></app-header>
<section class="landing-section">
   <div class="landing-main-container">
     <div class="landing-main-items">
       <h1>
         ბლოგი
       </h1>
       <img src="/assets/images/blogs-landing.svg" alt="">
     </div>
   </div>
  <div class="landing-blogs-container">
    <div class="categories">
      <button class="category-button" [class.clicked]="isCategoryClicked(category)"
              (click)="onCategoryClick(category)" *ngFor="let category of categories" [style.background-color]="category.background_color + '4D'">
        <h4 [style.color]="category.background_color">{{ category.title }}</h4>
      </button>
    </div>
    <div class="blogs">
      <div class="blog" *ngFor="let blog of blogs">
        <div class="img-container">
          <img src="{{blog.image}}" alt="">
        </div>
        <p class="author">{{blog.author}}</p>
        <p class="date">{{blog.publish_date}}</p>
        <h4 class="title">
          {{ blog.title }}
        </h4>
        <div class="categories">
          <button class="category-button" *ngFor="let category of blog.categories" [style.background-color]="category.background_color + '4D'">
            <h4 [style.color]="category.background_color">{{category.title}}</h4>
          </button>
        </div>
        <p class="content" [innerHTML]="blog.description.length >= 100 ? blog.description.slice(0, 100) + '...' : blog.description" >
        </p>
        <a routerLink="blog-detail/{{blog.id}}">სრულად ნახვა <img src="/assets/icons/arrow.svg" alt=""></a>
      </div>
    </div>
  </div>
</section>
